<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Teacher Subjects</title>
</head>
<body>
<h2>Select a Subject to Manage</h2>

<ul>
  <li th:each="subject : ${subjects}">
    <a th:href="@{'/teacher/getQuestionsBySubject/' + ${subject.id}}" th:text="${subject.subjectName}"></a>
    <!-- Button to edit the subject
    <a th:href="@{'/teacher/editSubject/' + ${subject.id}}">Edit</a>-->
  </li>
</ul>

<!-- Form to add a new subject -->
<h3>Add New Subject</h3>
<form th:action="@{/teacher/addSubject}" method="post">
  <label>Subject Name:</label>
  <input type="text" name="name"/>
  <button type="submit">Add Subject</button>
</form>

</body>
</html>
